/*#cart-container section*/
#cart-container{
	background-color: black;
	color: white;
	width: 50px;
}


/*#container section*/
.col-3 {
	max-width: 300px;
	/*height: 300px;*/
}
img {
	max-width: 100%;
}

